<form action="/create" method="POST">
  <h2>Create ToDo Item</h2>

  <div class="input-field">
    <input type="text" name="title" placeholder="Please type ToDo item">
    
  </div>

  <button type="submit" class="btn">Submit your ToDo Item</button>
</form>